<?php
/**
 * Template for filter items block
 *
 * @see Mage_Catalog_Block_Layer_Filter
 */
?>

<ol>
<?php foreach ($this->getItems() as $_item): ?>
	<?php if ($_item->getCount() > 0): ?>
    	<li>
        	<a href="<?php echo $this->urlEscape($_item->getUrl()) ?>" class="mrnav <?php if($_item->getIsSelected()):?>selected<?php endif;?>"><?php echo $_item->getLabel() ?></a>
	        <?php if ($this->shouldDisplayProductCount()): ?>
	        (<?php echo $_item->getCount() ?>)
	        <?php endif; ?>
	    </li>
    <?php endif; ?>
<?php endforeach ?>
</ol>
