<script>
    jQuery(function($){
        var currentLocation = getLocation();
        function getLocation() {
            return location.pathname + location.search;
        }

        $('body').on('click', 'a.mrnav', function(e){
            e.preventDefault();

            var requestUrl = $(this).attr('href');
            requestUrl = requestUrl.replace(/&?is_mrnav=1/g, '');//remove is_mrnav param in url
            doFilterAction(requestUrl, true);
        });

        function doFilterAction(url, push){
            $('.block-layered-nav, .category-products').append('<div class="mrnav-mask"/>');

            $.ajax({
                type: 'get',
                url: url,
                data: {is_mrnav: 1},
                dataType: 'json',
                success: function(response){
                    $('.block-layered-nav').replaceWith(response.layer);
                    if($('.category-products').length > 1){
                        $('.category-products').not(':first').remove();
                    }
                    if($('.category-products').length > 0){
                        $('.category-products').eq(0).replaceWith(response.products);
                    }
                    else if($('.note-msg').length){
                      $('.note-msg').replaceWith(response.products);
                    }
                    if(typeof mr_scroll != 'undefined'){
                        mr_scroll.reInit();
                    }
                    
                    if(push){
                        history.pushState(null, null, this.url);
                        currentLocation = getLocation();
                    }
                    if($('[role="main"]').length){
                        $('html, body').animate({scrollTop: $('[role="main"]').offset().top}, 'slow');
                    }
                }
            });
        }

        //for using go back button
        window.addEventListener("popstate", function(e) {
            var newLocation = getLocation();
            if(newLocation != currentLocation) {
                doFilterAction(location.href, false);
            }
            currentLocation = newLocation;
        });
    });
</script>