.mrnav{
    padding-left: 15px;
    background: transparent url(../images/checkbox.png) no-repeat scroll 0px 2px;
}

.mrnav.selected{
    font-weight: bold;
    padding-left: 15px;
    background: transparent url(../images/checkbox_checked.png) no-repeat scroll 0px 2px;
}

.block-layered-nav,
.category-products{
    position: relative;
}

.mrnav-mask{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
    top: 0;
}